@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

body {
    margin: 0;
    font-family: roboto;
}

.container {
    background-color: #1F2937;
    height: 520px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 80px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
}

a {
    text-decoration: none;
}

.hero p,
a {
    margin-top: 5px;
    font-size: 18px;
    color: #E5E7EB;
}

.header-links {
    display: flex;
    gap: 20px;
}

.hero img {
    width: 550px;
    height: 250px;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.hero-left {
    width: 450px;
}

button {
    background-color: #3882f6;
    border: 1px;
    border-radius: 10px;
    padding: 10px 30px;
    color: #f9faf8;
    font-weight: bold;
    font-size: 14px;
}

.mid {
    display: flex;
    flex-direction: column;
    height: 520px;
}

.mid h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 20px;
}

.mid-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.mid-main img {
    width: 200px;
    border: 3px solid #3882f6;
    border-radius: 16px;
}

.im-xt {
    width: 200px;
    text-align: center;
}

.quote-container {
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.quote {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.quote-text {
    font-size: 36px;
    margin: 0px;
    color: #1f2937;
    font-style: italic;
    font-weight: light;
}

.author {
    align-self: flex-end;
    font-weight: bold;
    margin: 0px;
    font-size: 22px;
    color: #1F2937;
}

.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    
}

.cta {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    width: 1000px;
    border-radius: 8px;
    background-color: #3882f6;
    color: #f9faf8;
}

.cta h3 {
    font-size: 24px;
    margin: 0px;
}

.cta-text p {
    font-size: 18px;
    margin: 0px;
    color: #c1c1c1;
}

#but-cta {
    border: 2px solid #f9faf8;
}